<section>
  <% @days.sort.reverse.each do |day, bookmarks| %>
    <h2><%= day.beginning_of_day.strftime("%B %e, %Y") %></h2>
    <% bookmarks.each do |bookmark| %>
      <%= render bookmark %>
    <% end %>    
  <% end %>

  <% if @bookmarks.empty? %>
    <article>
      <p>No bookmarks were found.</p>
    </article>
  <% end %>
</section>
<div>
<%= paginate @bookmarks %>
</div>