<section>
  <h2><%= user_name(@user) %></h2>
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>

  <% if @items.empty? %>
    <article>
      <p>No items were found.</p>
    </article>
  <% end %>
</section>
<section>
	<%= link_to "Bookmarklet", render("shared/bookmarklet.js", formats: [:js]) %>
</section>
<div>
<%= paginate @items %>
</div>