<section>
<h1>Help</h1>

<p>To add a bookmark, you can either use the "New Bookmark" link above or the following bookmarklet:</p>

<p><%= link_to "Bookmarklet", render("shared/bookmarklet.js", formats: [:js]) %></p>

</section>