@import "bourbon";
@import "neat";

body {
  font: 14px/20px 'Gentium Book Basic', serif;
  color: #201B2C;
  background-color: #DBBEAE;
  margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
  margin: 0px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
}

a {
  color: #74574B;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.t-center {
  text-align: center;
}

.f-center {
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 3px;
  background-color: #D67777;
  font-family: 'Open Sans', sans-serif;
  color: #111;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  border: 0;
  &.cancel {
    background-color: #D67777;
  }
  &.confirm {
    background-color: #D67777;
  }
  &.secondary {
    background-color: #D67777;
  }
}
input, textarea {
  display: inline-block;
  margin: 0;
  padding: 0.8em 1.2em;

  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #eee;
}

header#top_navigation {
  background-color: #201B2C;
  color: #feffff;
  padding: 8px;
  margin: 0;
  nav {
    @include outer-container;
    a {
      color: #cecccc;
      text-decoration: none;
      padding: 0 10px;
      line-height: 30px;
    }
    form.search {
      float: right;
      input {
        background-color: #000;
        border: 0;
        color: #cecccc;
      }
    }
  }
}
header#masthead {
  background-color: #9C5567;
  border-bottom: 4px #E8E3E2 solid;
  overflow: auto;
  .header-content {
    @include outer-container;
    padding: 10px 0;
    position: relative;
    .logo {
      @include span-columns(1.5 of 12);
    }
    h1 {
      @include span-columns(3 of 12);
      color: #ffffff;
      font-weight: bold;
      @media screen and (max-width: 720px) {
        @include span-columns(12 of 12);
        margin-bottom: 20px;
        text-align: center;
      }
    }
    nav {
      @include span-columns(7 of 12);
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      .button {
        display: inline-block;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: 3px;
        padding: 4px 10px;
        background-color: #D67777;
        &.active {
          background-color: #E8E3E2;
        }
      }
      @media screen and (max-width: 720px) {
        @include span-columns(12 of 12);
        text-align: center;
      }
    }
  }
}
div.main {
  @include outer-container;
  section {
    @include span-columns(12 of 12);
    margin-top: 10px;
  }
  article {
    @include span-columns(12 of 12);
    margin: 5px 0 20px;
    padding: 0 3px;
    .field {
      margin-bottom: 10px;
      overflow: auto;
      label {
        @include span-columns(1 of 12);
      }
      input, textarea {
        @include span-columns(7 of 12);
      }
    }
    h3 {
      margin-bottom: 4px;
    }
    .tags {
      font: 12px/14px 'Gentium Book Basic', serif;
      color: #E8E3E2;
      a {
        color: #E8E3E2;
        text-decoration: none;
      }
    }
  }
  #comments {
    form {
      margin-top: 15px;
    }
    textarea {
      @include span-columns(7 of 12);
      margin-bottom: 10px;
    }
    div {
      clear: both;
      margin-top: 15px;
    }
  }
  .meta {
    font: 12px/14px 'Open Sans', sans-serif;
    color: #9C5567;
    a {
      color: #9C5567;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
  }
}